{% extends 'basic_app/base.html' %}

{% block body-block %}

<div class="container">
  <div class="jumbotron">
    <h1>Please log in.</h1>
    <form class="{% url 'basic_app:user_login' %}" action="index.html" method="post">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="Enter username">

      <label for="password">Password:</label>
      <input type="text" name="password">
      <input type="submit" value="Login">
    </form>
  </div>
</div>

{% endblock %}
